__pycache__
.vscode/
/.idea
summaries/
/environments/Build2/RLEnvironments_Data/ML-Agents/Timers/UGV_timers.json
/environments/BuildUGVRace-CollectingTrajectories
/environments/BuildUGVSearch
/environments/BuildUGVSearchMG_SemanticSegmentation
/environments/BuildUGVUAVSearchMG

/trajectories/
/pkl/
/plot/
/log.txt
/test.py
results
/安装依赖/*
/environments/test_img
